!!! 5
%html
  %head
    %title YuFacebook
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags

  %body{class: @body_classes}
    = render "layouts/title_bar"
    - if current_user 
      = current_user.email 

    = render "layouts/navigation"

    = yield

    = render "layouts/footer"

